<h3>Console:</h3>
<div class="console">
    <div *ngFor="let log of logs">
        <p [ngClass]="{'error-log': log.logType == 1, 'info-log': log.logType == 2}"><span class="log-date">{{ log.date | date:'dd/MM/yy HH:mm'}}</span>: {{ log.message }} </p>
    </div>
</div>